*~
.vs/LightningServer/v15/.suo
/.vs/config/applicationhost.config
/node_modules
/LightningServer/node_modules/@types/mathjs
/core/.vs/core/v15/Server/sqlite3/db.lock
/core/.vs/core/v15/.suo
/core/UnitTests/bin/Debug/netcoreapp2.0
/core/UnitTests/obj
/core/lightningfrontend/package-lock.json
/core/.vs/core/DesignTimeBuild
/core/.vs/core/v15/sqlite3/storage.ide
/core/UnitTests/obj
/core/.vs/core/v15/Server/sqlite3/storage.ide
/core/.vs/core/v15/Server/sqlite3/storage.ide-shm
/core/.vs/core/v15/Server/sqlite3/storage.ide-wal
/core/.vs/config/applicationhost.config
/core/lightningfrontend/stats.json
/core/.vs/core/lut
/core/UnitTests/bin/Debug/netcoreapp2.1
lightning_ui/lightning/bobmiddleproxy/node_modules