
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class='navbar-brand col-sm-3 col-md-2 mr-0' [routerLink]="['/home']">VK4YA</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<!--<header>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>

        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>-->
<div class='container-fluid'>
    <!--<div class='col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar'>

        </div>
        <div class='col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3'>

        </div>

    </main>-->
    <div class='row'>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <nav-menu></nav-menu>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>