﻿
<agm-map>
    <agm-marker *ngFor="let detector of detectors"
                [latitude]="detector.lat"
                [longitude]="detector.lon">
        <agm-info-window isOpen="true">{{detector.name}}</agm-info-window>
    </agm-marker>
</agm-map>


<p *ngIf="!detectors"><em>Finding detectors...</em></p>

<p *ngIf="homeDetector">{{homeDetector.Name}} {{homeDetector.Lat}} {{homeDetector.Lon}}</p>

<table class='table' *ngIf="detectors">
    <thead>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Received</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detector of detectors">
            <td>{{ detector.name}}</td>
            <td>{{ detector.lon}}</td>
            <td>{{ detector.lat}}</td>
            <td>{{ detector.received}}</td>
        </tr>
    </tbody>
</table>
