<ul class='nav nav-pills flex-column'>
    <li [routerLinkActive]="['link-active']" class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">
            <fa-icon [icon]="faHome"></fa-icon> Home
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/detectors']">
            <fa-icon [icon]="faBroadcastTower"></fa-icon> Detectors
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/signals']">
            <fa-icon [icon]="faSignal">Signalstest</fa-icon> <span>Signals</span>
        </a>
    </li>
</ul>
