<ul class='nav nav-pills flex-column'>
    <li [routerLinkActive]="['link-active']" class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">
            <p><fa-icon [icon]="faHome"></fa-icon>Home</p>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/detectors']">
            <p><fa-icon [icon]="faBroadcastTower"></fa-icon> Detectors</p>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/strikes']">
            <p><fa-icon [icon]="faBolt"></fa-icon> Strikes</p>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/signals']">
            <p><fa-icon [icon]="faSignal">Signalstest</fa-icon>Signals</p>
        </a>
    </li>
</ul>
