<ul class='nav nav-pills flex-column'>
                <li [routerLinkActive]="['link-active']" class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="nav-link">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="nav-link">
                    <a [routerLink]="['/detectors']">
                        <span class='glyphicon glyphicon-th-list'></span> Detectors
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="nav-link">
                    <a [routerLink]="['/signals']">
                        <span class='glyphicon glyphicon-th-list'></span> Signals
                    </a>
                </li>
            </ul>
