<ul class='nav nav-pills nav-stacked'>
    <!--<li [routerLinkActive]="['link-active']" class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">
            <p><fa-icon [icon]="faHome" style="width:20px"></fa-icon>Home</p>
        </a>
    </li>-->
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/detectors']">
            <fa-icon [icon]="faBroadcastTower" ></fa-icon>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/strikes']">
            <fa-icon [icon]="faBolt" style="width:40px"></fa-icon>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-link">
        <a [routerLink]="['/signals']">
            <fa-icon [icon]="faSignal" style="width:40px"></fa-icon>
        </a>
    </li>
</ul>
