
<div class="container" style="margin-top: 70px;">
    <div id="map" class="map"></div>
    <div class="row">
        <div class="col-sm">
            <h4>Active Detectors</h4>
        <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Lon</th>
          <th>Lat</th>
          <th>Pressure</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detector of detectors">

          <td>{{ detector.id }}</td>
          <td> {{ detector.Lon }}</td>
          <td> {{ detector.Lat }}</td>
          <td> {{ detector.Pressure}}</td>
          <td> {{ detector.Temperature}}</td>
          <!-- <td>
            <button class="btn btn-primary" (click)="selectDetector(detector)"> Show details</button>
          </td> -->
        </tr>
      </tbody>
    </table>
      </div>
      <div class="col-sm">
          <h4>Strikes</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Heat</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let strike of strikes.reverse()">
                <td> {{ strike.stamp }}</td>
                <td> {{ strike.lat }}</td>
                <td> {{ strike.lon }}</td>
                <td> {{ strike.heat }}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
