<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Waveform viewer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  </head>
  <body>
    <div class="container">
<div id="visualization1"></div>
<div id="visualization2"></div>
<script type="text/javascript">
    var container1 = document.getElementById('visualization1');
    var container2 = document.getElementById('visualization2');

  var items1 = [
  <% for(var i=0; i<samples[0].data.length; i++) {%>
    { x: <%= i %> , y: <%= samples[0].data[i] %>},
  <% } %>
  ];
  var items2 = [
  <% for(var i=0; i<samples[1].data.length; i++) {%>
    { x: <%= i %> , y: <%= samples[1].data[i] %>},
  <% } %>
  ];


  var dataset1 = new vis.DataSet(items1);
  var dataset2 = new vis.DataSet(items2);

  var options = {
   drawPoints: {
      style: 'circle' // square, circle
    },
    shaded: {
      orientation: 'bottom' // top, bottom
    }
  };
  var graph2d1 = new vis.Graph2d(container1, dataset1, options);
  var graph2d2 = new vis.Graph2d(container2, dataset2, options);

</script>
</div>
  </body>
</html>