<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>


</head>
<body>
    <div class="container">
			<div id="visualization"></div>
<script type="text/javascript">
var container = document.getElementById('visualization');

 var items = [
    <% for(var k=3; k<samples.length; k++) {%>
        
       { x: <%= k %> , y: '<%= samples[k].year %>-<%= samples[k].month %>-<%= samples[k].day %>'},
  <% } %>
  ];
 var dataset = new vis.DataSet(items);

  var options = {
      legend: {right: {position: 'top-left'}},   
      drawPoints: {
         style: 'circle' // square, circle
    }
  };

  var graph2d1 = new vis.Graph2d(container, dataset, options);


</script>


    </div>
</body>
</html>